h1 {color: #6B8FCE;
    text-align: center;
    font-family: "Avenir Black", "Franklin Gothic";
    font-weight: 800}

h3 {color: darkgrey;
    text-align: center;
    font-family: "Avenir Black", "Franklin Gothic";
    font-weight: 400}